.nav {
    display: flex;
    gap: 16px;
}

.link {
    text-decoration: none;
    color: black;
    font-size: var(--font-medium);
    font-weight: 600;
    letter-spacing: 0.03em;
}

.isActive {
    color: orangered;
}